client/node_modules
client/build
client/package-lock.json
client/src/app/assets/configFile.js

server/node_modules
server/package-lock.json
server/config/dbConfig.js
server/config/gmailConfig.js
server/config/otherConfigs.js
server/queries.js