
.SlideMainContainer {
  width: 50rem;
}
.SlideContainer {
    width: 100%;
    margin: auto; 
}

.EachSlide > div {
  display: flex;
  background-size: cover;

}

.EachFade {
  display: flex;
}

.EachFade .ImageContainer {
  width: 100%;
  overflow: hidden;
  object-fit: cover;

}

.EachFade .ImageContainer img {
  width: 100%;
  border-radius: var(--radius) ;

}
