:root {
  --black: #222;
  --hover-black: #2c225508; 
  --white-ish: rgb(223, 223, 223);
  --enabled-color: #ffb446;
  --error-color: #ff9800;
  --border-radius: 4px;
}

/* img {
  width: 20rem;
  height: 15rem;
  object-fit: cover;
  margin: .2rem;
  border-radius: .25rem;
} */
