:root {
  --black: #222;
  --grey: rgb(119, 119, 119);
  --hover-black: #2c225508; 
  --white-ish: rgb(223, 223, 223);
  --orange-color: #fe9303;
  --pink-color: #e83251;
  --error-color: #ff9800;
  --color-title: #E4215B;
  --radius: .9rem;
  --box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.14);
}

/* img {
  width: 20rem;
  height: 15rem;
  object-fit: cover;
  margin: .2rem;
  border-radius: .25rem;
} */
