.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23333'%3E%3Cpath d='M10 4C9 4 9 5 9 5v.1A5 5 0 005.1 9H5s-1 0-1 1 1 1 1 1h.1A5 5 0 009 14.9v.1s0 1 1 1 1-1 1-1v-.1a5 5 0 003.9-3.9h.1s1 0 1-1-1-1-1-1h-.1A5 5 0 0011 5.1V5s0-1-1-1zm0 2.5a3.5 3.5 0 110 7 3.5 3.5 0 110-7z'/%3E%3Ccircle cx='10' cy='10' r='2'/%3E%3C/svg%3E") !important;
    filter: invert(24%) sepia(71%) saturate(4448%) hue-rotate(330deg) brightness(91%) contrast(95%);
}

.mapboxgl-canvas {
    outline: none;
}

.AddPropertyContainer .markerPick {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('../../assets/img/marker_house.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.AddPropertyContainer .mapboxgl-ctrl-group button:focus:only-child {
    box-shadow: none;
}

.AddPropertyContainer .addPropertyMap {
    width: 100%;
    height: 35vh;
    outline: none;
}

.AddPropertyContainer .FirstRow, .SecondRow {
    display: flex;
    justify-content: space-between;
}

.AddPropertyContainer .FirstRow .addPropertyMap {
    height: 23.5rem;
}

.AddPropertyContainer .FirstRow .addPropertyMap h3 {
    color: #e4215b;
    font-size: 1.50em !important;
    padding-bottom: .5rem;
}

.AddPropertyContainer .SecondRow .Availability, .Facilities {
    width: 50%;
    height: 17rem;
}

.AddPropertyContainer .FourthRow {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

h1.AddPropertyTitle {
    color: #e4215b;
    padding-bottom: 1.25rem;
}
.AddPropertyContainer .FirstRow .MapContainer {
    width: 50%;
}

.ThumbsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.ThumbsContainer .Thumb {
    display: inline-flex;
    margin: 8px;
    width: auto;
    height: 200px;
    position: relative;
}

.ThumbsContainer .ThumbInner {
    width: 15rem;
}

.ThumbsContainer .ThumbInner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.ThumbsContainer .CloseContainer {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: rgba(255, 255, 255, 0.86);
    padding: 0 6px;
    border-radius: 50%;
    cursor: pointer;
    filter: brightness(1.8);
    transition: .3s;
}

.ThumbsContainer .CloseContainer:hover {
    opacity: 1;
    background-color: #fff;
    transform: scale(1.03);
}

.ThumbsContainer .CloseButton {
    width: .5rem !important;
}

.MapContainer .PickAddressText {
    color: var(--color-title);
    margin-bottom: .5rem;
}

.MapContainer .PickAddressTip {
    color: var(--color-title);
    margin-bottom: .5rem;
    font-size: .85rem;
    margin-top: .4rem;
    text-align: center;
}

.MapContainer .PickAddressTip span {
    color: var(--grey);
}