
.modalContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   width: 100%;
   max-width: 34.5rem;
   border-radius: 12px;
   margin: auto;
   position: absolute;
   height: fit-content;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   outline: none;
}

.loginForm {
   width: 500px;
   margin-top: 35px;
}

.titleContainer {
   width: 100%;
   display: flex; /*added this*/
   justify-content: center;
   border-bottom: 1.4px solid rgb(230, 230, 230);
}

.FormContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-bottom: 1.5rem;
}

.loginTitle {
   padding: 1.5rem 0px 1.5rem 0px;
   font-size: 18px;
}

.modalBottom {
   height: 100%;
   width: 100%;
   padding-top: 100px;
}

.SwitchPageButton {
   color: black;
   text-decoration: none;
   cursor: pointer;
   margin: 0.2rem 0;
   transition: 0.3s;
}

.SwitchPageButton:hover {
   /* text-decoration: underline; */
   color:#E4215B;
}

.closeButton {
   width: 10px;
   height: 10px;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 31.4rem;
   top: 1rem;
   padding: 1rem;
   border-radius: 50%;
   transition: .3s;
}

.closeButton:hover {
   background-color: var(--hover-black);
   cursor: pointer;
}

div.Modal_FormContainer__2s9g6 > form > button > span.MuiButton-label {
   color: white !important;
}