
.homeContainer .mapContainer {
    width: 100%;
    height: 70.3vh;
    outline: none;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.homeContainer .mapContainer .marker .markerContainer {
    padding: .25rem .65rem;
    font-size: 1rem;
    background: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 5rem;
    cursor: pointer;
    transition: .3s;
    color: var(--pink-color);
    /* color: rgb(163, 162, 162); */
}

.homeContainer .mapContainer .marker .markerContainer.active {
    background-color: var(--orange-color);
    color: #fff !important;
}

.homeContainer .mapContainer .marker .markerContainer.visited {
    color: var(--grey);
}

.homeContainer .mapContainer .marker .markerContainer:hover {
    transform: scale(1.1);
}

.homeContainer .mapContainer .mapboxgl-popup-content {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    height: 15.5rem;
    width: 17rem;
    background-color: #fff;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}

.homeContainer .mapContainer .PopupContainer {
    display: flex;
    flex-direction: column;
}

.homeContainer .mapContainer .PopupContainer .PopupImage {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.homeContainer .mapContainer .PopupContainer .PopupBottomContainer {
    padding: .4rem;
}

.homeContainer .mapContainer .PopupContainer .PopupBottomContainer .PopupType {
    color: var(--grey);
    font-size: .8rem;
}

.homeContainer .mapContainer .PopupContainer .PopupBottomContainer .PopupType {
    color: var(--grey);
    font-size: .8rem;
}

.homeContainer .mapContainer .mapboxgl-popup-tip {
    display: none;
}

/* @media only screen and (max-width: 415px) {
    .mapContainer {
        height: 92vh;
    }
} */