.homeContainer .slideshowContainer {
    width: 30em;
    height: 95vw;
    overflow-y: auto;
    overflow-x: hidden;
    transform:rotate(-90deg) translateY(-30em);
    transform-origin: right top;
}

body.home  {
    overflow-y: hidden;
    overflow-x: hidden;
}

.homeContainer h1 {
    color: #e4215b;
    font-size: 45px;
    padding-bottom: 1em;
}

/* scrollbar */
.homeContainer ::-webkit-scrollbar {
    width: 5px;
    min-height: 300px;
}
.homeContainer ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #aaaaaa;
    width: 5px;

}
.homeContainer ::-webkit-scrollbar-thumb {
    background: #e4215b; 
    border-radius: 10px;
    /* height: 50px; */
}
.homeContainer ::-webkit-scrollbar-track-piece {
    width: 5px;
}

.homeContainer ::-webkit-scrollbar-thumb:hover {
    background: #b91c4b; 
}

