.CardContainer {
    display: flex;
    width: 100%;
    height: 13rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}

.Highlighted {
    box-shadow: 0 0 10px var(--grey);
    transform: scale(1.02);
}

.Home {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 -1.5rem;
    margin-bottom: 20em;
    transform: rotate(90deg) translateX(30em);
    transform-origin: right top;
}

.Icon {  
    position: absolute;
    top: -.75rem;
    right: -.5rem;
    cursor: pointer;
}

.Icon svg {
    width: 18px !important;
    transition: .3s;
}

.Icon:hover svg {
    width: 20px !important;
}

.Icon svg path {
    transition: .3s;
}

.Icon:hover path {
    fill: var(--pink-color);
    /* transform: scale(1.1); */
}

.Button {
    padding: .5rem 1rem;
    color: #FFF;
    background-color: var(--pink-color);
    border-radius: .5rem;
    font-family: 'Quicksand Bold';
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
}

.Button:hover {
    background-color: #f02551;
    transform: scale(1.04);
}

.PropertyImageContainer {
    width: 45%;
    height: 100%;
}

.PropertyImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.PropertyDetails {
    position: relative;
    width: 55%;
    margin: 1.5rem;
}

.PropertyTitle {
    color: var(--black);
    font-family: 'Quicksand Bold';
    padding: 1rem 0 .4rem 0;

}

.Type {
    font-size: .75rem;
    position: absolute;
    top: 0;
    left: 0;
}

.Parag {
    width: 100%;
    font-size: .75rem;
    padding: .4rem 0;
}

.Price {
    color: var(--black);
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Quicksand Bold';
    text-align: right;
    padding: .8rem 0 0 0;
}