.CardContainer {
    display: flex;
    width: 35rem;
    height: 11rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    overflow: hidden;
}

.Home {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 -1.5rem;
    margin-bottom: 20em;
    transform: rotate(90deg) translateX(30em);
    transform-origin: right top;
}
.Profile button {
    display: block;
}
.Profile .Trash {
    display: block;
}

.Trash {
    display: none;
    position: absolute;
    bottom: top;
    right: 0;
    cursor: pointer;
    transition: .3s;
}
.Trash>path:hover {
    fill: var(--pink-color);
}
.Button {
    display: none;
    padding: .5rem 1rem;
    color: #FFF;
    background-color: var(--pink-color);
    border-radius: .5rem;
    font-family: 'Quicksand Bold';
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
}
.Button:hover {
    background-color: #f02551
}

.PropertyImageContainer {

 width: 35rem;
 height: 11rem;

}

.PropertyImage {
    display: block;
    width: 100%;
    height: 100%;
}

.PropertyDetails {
    position: relative;
    width: 100%;
    margin: 1.5rem;
}

.PropertyTitle {
    color: var(--black);
    font-family: 'Quicksand Bold';
    padding: 1rem 0 .4rem 0;

}

.Type {
    font-size: .75rem;
    position: absolute;
    top: 0;
    left: 0;
}

.Parag {
    width: 100%;
    font-size: .75rem;
    padding: .4rem 0;
}

.Price {
    color: var(--black);
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Quicksand Bold';
    text-align: right;
    padding: .8rem 0 0 0;
}