/* .ProfileContainer {
    margin: 0 auto;
} */
.ListsContainer {
    display: flex;
    flex-direction: column;
}
body.profile {
    overflow-y: hidden;
}
.TitleHistory {
    font-size: 2.5rem;
    color: var(--color-title);
    margin-bottom: 2rem;
}

.ProfileCard {
    display: flex;
    justify-content: center;
}

.PropertyCard, .ReservationCard {
    margin: .5rem 1rem;
}

.MyPropertiesList, .MyReservationsList {
    width: 55vw;
    height: fit-content;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.MyReservationsContainer, .MyPropertiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
